<fieldset>
        <legend>{{ title }}</legend>
        <p>
            <label for='post-title'>Title</label><br>
            <input id='post-title' type='text' name='title' value='{{ post.title }}'/>
        </p>
        
        <p>
          <label for='description'>Description</label><br>
          <input id='description' type='text' name='description' value='{{ post.description }}' />
        </p>
        
        <p>
          <label for='post-videos'>Videos</label><br>
          <p>Add videos in the form of 'https://youtube.com/embed/KEY'. Separate with a newline.</p>
          <textarea id='post-videos' name='videos' rows='10'>{{ "\n".join(post.videos) }}</textarea>
        </p>
        </fieldset>
        
        <p>
            <button type='submit'>Save post</button>
            <a href='/'> Cancel </a>
        </p>